@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-primary: #3f3f3f;
  --fg-primary: #dcdccc;
  --fg-secondary: #9f9f9f;
  --fg-warning: #cc9393;
}

body {
  background-color: var(--bg-primary);
  background-image: url("assets/background.jpg");
  background-size: cover;
  color: var(--fg-primary);
  height: 100vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

a {
  text-decoration: none;
  color: var(--fg-primary);
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-size: 1.5em;
}

ul {
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  list-style: none;
  padding: 2rem;
}
